* {
    padding: 0;
    margin: 0;
    border: 0; }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none; }
  
  nav, footer, header, aside {
    display: block; }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
  input, button, textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  a, a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  
  ul li {
    list-style: none; }
  
  img {
    vertical-align: top; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400; }

/*-----------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap');

body, .body {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
}

.heading {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 900;
}


.nav__link {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 300;
}


.article__paragraph {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}


.article__element {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}


.article__link {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #14505c;
}


.article__heading {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 400;
}


.article__list {
  margin: 0 0 0 1rem;
}


.article {
  margin: 0.5rem 0;
}


.article:last-child {
  margin: 0;
}

.article > .article__list {
  margin: 0;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.picture {
  margin: 0.5rem 0;
}

.picture_logo {
  box-shadow: 0 0 0.5rem #0f0f0f;
  width: 100%;
  border-radius: 4px;
}

.logotype {
  padding: 8px;
}

/*picture и picture__logo и logotype*/