* {
    padding: 0;
    margin: 0;
    border: 0; }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none; }
  
  nav, footer, header, aside {
    display: block; }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
  input, button, textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  a, a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  
  ul li {
    list-style: none; }
  
  img {
    vertical-align: top; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400; }

/*-----------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap');

*, html, body {
  font-size: 16px;
}


body, .body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  background-color: #0f0f0f;
  color: #fdfdfd;
  line-height: 1.4rem;
}

.heading {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 900;
  grid-area: heading;
}


.nav__link {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 300;
  color: #0f0f0f;
}
.nav__link:link {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 300;
  color:#0f0f0f;
}
.nav__link:visited {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 300;
  color:#0f0f0f;
}


.article__paragraph {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}


.article__element {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}


a {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #83dbec;
}
a:link {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #83dbec;
}
a:visited {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #83dbec;
}


.article__heading {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2px 0;
}


.article__list {
  margin: 0 0 1rem 1rem;
}

.article__list:last-child {
  margin: 0 0 0 1rem;
}


.article {
  margin: 0.8rem 0;
}


.article:last-child {
  margin: 0;
}

/* .article > .article__list {
  margin: 0;
} */

.container {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

.picture {
  margin: 0.5rem 0;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.logotype {
  width: 100%;
}

.textvariant1 {
  color: rgb(231, 215, 71);
}

.nav {
  grid-area: nav;
  text-align: end;
}

.header {
  display: grid;
  justify-content: left right;
  grid-template: "heading nav";
  align-items: center;
  background-color: #fdfdfd;
  color: #0f0f0f;
  padding: 1rem;
  position: sticky;
  top: 0px;
}

.navigation__links {
  /* display: inline-block;
  margin: 0 auto; */
}

.article_right {
  display: grid;
  justify-content: left right;
  grid-template: "heading nav";
  align-items: center;
}

.righttext {
  display: inline-block;
}

.button {
  background: #84df84;
  padding: 0.5rem;
}

.button:hover {
  background-color: #83dbec;
  transition: all 0.2s;
}

.button > .link {
  color: #111010;
}

/* 1080 */
@media (max-width: 1080px) {
  .container {
    width: 720px;
  }
}

/* 720 */
@media (max-width: 720px) {
  .container {
    width: 360px;
  }
}