body {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1rem;
    background-color: #0f0f0f;
    color: #fdfdfd;
    line-height: 1.4rem;
}
/*---------- body ------------*/
.container {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "header header" "content footer";
}
/*-------- container ---------*/
.article {
    margin: 0 0 1rem 0;
}
.article:first-child {
    margin: 0 0 1rem 0;
}
.article:last-child {
    margin: 0;
}
.article_right {
    display: grid;
    justify-content: left right;
    grid-template: "heading nav";
    align-items: center;
}
/* .article > .article__list {
  margin: 0;
} */
/*--------- article ----------*/
.nav {
    grid-area: nav;
    text-align: end;
  }
  
  .content {
    margin: 0 1rem 0 0;
    grid-area: content;
  }
