.article__heading {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2px 0;
}
.article__paragraph {
    font-family: "Montserrat";
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
}
a {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    color: #83dbec;
}
a:link {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    color: #83dbec;
}
a:visited {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    color: #83dbec;
}
.righttext {
  display: inline-block;
}
.textvariant1 {
    color: rgb(231, 215, 71);
}
/*---------- article text ---------*/
.article__element {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
}
.article__list {
    margin: 0 0 1rem 1rem;
}
  
.article__list:last-child {
    margin: 0 0 0 1rem;
}
/*---------- article list ---------*/
.button {
    background: rgb(231, 215, 71);
    padding: 0.5rem;
}
  
.button:hover {
    background-color: rgb(241, 225, 110);
    transition: all 0.2s;
}
  
.button > .link {
    color: #111010;
}
  
.body__inner {
    position: relative;
}
/*------------- button ------------*/
.picture {
    margin: 0.5rem 0;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
  
  .picture_recipe {
    width: 240px;
    height: 140px;
    margin: 0;
  }
  
  .logotype {
    width: 100%;
  }
/*------------- picture -----------*/