.footer__heading {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2px 0;
}
.footer__paragraph {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
}
/*-------- footer text ----------*/
.footer {
    grid-area: footer;
  }