.header {
    grid-area: header;
    display: grid;
    justify-content: left right;
    grid-template: "heading nav";
    align-items: center;
    background-color: #fdfdfd;
    color: #0f0f0f;
    padding: 1rem;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.heading {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 900;
    grid-area: heading;
}